.container{
    margin: 5%;
}

/* .list-group{
    margin: 5%;

} */

.form-group{
    margin: 10px 10px 5px;
}

.p-3 mb-2 bg-primary text-white{
    margin: 5%;
}

.btn{
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10%;
}

.panel {
    border-radius: 10px;
    overflow: hidden;
}

.card {
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 10px 5px;

}


